<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration monitorInterval="5" status="warn">
  <Properties>
    <Property name="LOG_PATTERN">%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Property>
    <Property name="APP_LOG_ROOT">./logs</Property>
  </Properties>
  <Appenders>
    <Console follow="true" name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <RollingFile name="appLog"
    			 fileName="${APP_LOG_ROOT}/appserver.log" 
    			 filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1"/>
    </RollingFile>
       
    <!-- Server logs -->
    <RollingFile name="ServerFile" fileName="logs/server.log"
                 filePattern="logs/server-%d{yyyy-MM-dd}.log.gz">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
        <Policies>
        	<SizeBasedTriggeringPolicy size="10MB"/>
      	</Policies>
      	<DefaultRolloverStrategy max="1"/>
    </RollingFile>
    
    <!-- TCP appender to Logstash -->
    <!-- <Socket name="Logstash" host="localhost" port="5000">
       <JsonLayout compact="true" eventEol="true"/>
    </Socket> -->
  </Appenders>
  <Loggers>
	<!-- Application-specific -->
    <Logger additivity="false" level="debug" name="com.lcwd.gateway.controler">
      <AppenderRef ref="appLog"/>
    </Logger>
    
    <!-- Framework / server logs -->
    <Root level="info">
		<AppenderRef ref="Console"/>
        <AppenderRef ref="ServerFile"/>
    </Root>
  </Loggers>
</Configuration>